<h3>SOUCHS </h3>
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>strainCode</th><th>Quantite of storage</th><th>original code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let souch of souch">
                        <td>{{souch.strainCode}} </td>
                        <td>{{souch.QuantityOfStorage}} </td>
                        <td>{{souch.originalCode}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-5">
form
        </div>
    </div>
</div>