<h3>SOUCHS </h3>
<div class="container">
    <div class="col">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Add strain
                </div>
                <div class="card-body">
                    <form [formGroup]="souchForm">
                        <div class="form-group">
                            <label>strain code :</label>
                            <input type="text" class="form-control" formControlName="strainCode" />
                        </div>
                        <div class="alert alert-danger" *ngIf ="souchForm.controls['strainCode'].invalid &&
                        (souchForm.controls['strainCode'].touched || souchForm.controls['strainCode'].dirty) ">
                            need of strain code
                        </div>
                        <div class="form-group">
                            <label>Quantity Of Storage :</label>
                            <input type="number" class="form-control" FormControlName="QuantityOfStorage" />
                        </div>
                        <div class="form-group">
                            <label>Original Code :</label>
                            <input type="text" class="form-control" FormControlName="originalCode" />
                        </div>
                        <button class="btn btn-success" [disabled]="souchForm.pristine || souchForm.invalid">Add</button>
                    </form>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Strain Code</th>
                        <th>Quantity of storage</th>
                        <th>original code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of souchs ">
                        <td>{{s.strainCode}} </td>
                        <td>{{s.QuantityOfStorage}} </td>
                        <td>{{s.originalCode}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>